{% extends "auctions/layout.html" %}
{% block body %}
<style>
    .list-group-item{
        
  font-size:large;
    }
</style>
<br>
    <!-- Jumbotron -->
    <div class="jumbotron text-center ">
        <div class="container text-center">
        <div class="panel panel-primary">
            <div class="panel panel-primary"">
                <!-- Default panel contents -->
                <div class="panel-heading"><strong>Select A Category</strong></div>
                <div class="panel-body">
                <ul class="list-group">
                    <a href="{% url 'category' 'Facewash' %}"><li class="list-group-item"><strong>Facewash</strong> </li></a>
                    <a href="{% url 'category' 'Toner' %}"><li class="list-group-item"> <strong>Toner</strong></li></a>
                    <a href="{% url 'category' 'Serum' %}"><li class="list-group-item"><strong>Serum</strong></li></a>
                    <a href="{% url 'category' 'Essence' %}"><li class="list-group-item"><strong>Essence</strong></li></a>
                    <a href="{% url 'category' 'Moisturiser' %}"><li class="list-group-item"><strong>Moisturiser</strong></li></a>
                    <a href="{% url 'category' 'Sunscreen' %}"><li class="list-group-item"><strong>Sunscreen</strong></li></a>
                </ul>
            
        </div>
    </div>
    </div>
    </div>
    <!-- Jumbotron -->
            
{% endblock %}