{% extends "auctions/layout.html" %}

{% block body %}
<div>
    {% if empty %}
                    
                    <img src="../../static/auctions/img/foractive.svg" alt="indeximage" style="height: 350px;" class="embed-responsive">
                    
                    <h3>No Active Listings available</h3>
    {% else %}

            {% for item in products %}
            <div class="container">    
                <div class="row">
                  <div class="col-sm-4">
                    <div class="panel panel-primary">
            <div class="panel-heading"><a href="{% url 'listing' item.id %}" style="color:white">{{item.Name}}</a></div>
            <div class="panel-body"><img src="{{item.image_link}}" class="img-responsive" style="width:100%;" alt="Image"></div>
            <div class="panel-footer"><p>$ {{item.current_bid}}</p><br><p>{{item.description}}</p> </div>
        </div>
    </div>
                
            {% endfor %}           
    {% endif %}
    

</div>
{% endblock %}