{% extends "auctions/layout.html" %}

{% block body %}
{% if msg %}
        <div class="alert alert-{{msg_type}}">{{ msg }}</div>
{% endif %}
<div class="jumbotron text-center" style="padding: 3% 10%;">

    <br>
    <br>
    <h1><strong>{{item.Name}}</strong></h1> <br>
    <br>

    <img src="{{item.image_link}}" alt="indeximage" style="height: 350px;" class="embed-responsive"><br><br><br>
    <div style="float: left;">
    {% if added %}
            <a href="{% url 'watchlist' item.id %}" class="btn btn-danger btn-lg" name="remove">Remove from Watchlist</a>
            {% else %}
            <a href="{% url 'watchlist' item.id %}" class="btn btn-success btn-lg" name="addto"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> Add to Watchlist</a>
        {% endif %}
        
    </div>
    <br><br><br>
    <br>
        <p class="lead" align="justify"><strong>Description : </strong> {{item.description}}</p>  
        <p class="lead" align="justify"><strong>Category : </strong>{{item.category}}</p>
        <p class="lead" align="justify"><strong>Current Bid Price : </strong>${{item.current_bid}}</p>
        <p class="lead" align="justify"><strong>Seller : </strong>{{item.seller}}</p>
        <p class="lead" align="justify"><strong>Created on : </strong>{{item.time}}</p>
        <br>
            
<!--Bid form-->
        {% if user.username != item.seller %}
        <p class="lead" align="justify"><strong>Place your Bid : </strong></p>
        <form action="{% url 'listing' item.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" name="newbid" placeholder="Your Bid" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon">.00</span>
                  </div>
            </div>
            <p align="justify"><input class="btn btn-primary" type="submit" value="Submit"></p>
        </form>
    {% endif %}
    
    {% if user.username == item.seller %}
    <a href="{% url 'closebid' item.id %}" class="btn btn-info btn-lg"> Close Bid </a>
    {% endif %}
    
<!--Display comments-->
<br> <br> <br>
        <div class="jumbotron text-center">

            <!-- Title -->
            <h2 class="card-title h2">COMMENTS</h2>
    {% if comments %}
    {% for comment in comments%}
    <br>
                    <!-- Grid row -->
                    <div class="card text-left">
                    <h5 class="card-header h5" style="font-size: small;">{{comment.user}}</h5>
                    <div class="card-body">
                        <!-- <h5 class="card-title">Rating :</h5> -->
                        <p class="lead">{{comment.comment}}</p>
                        <p class="card-text" style="font-size:small;">{{comment.time}}</p>
                    </div>
                    </div>
    {% endfor %}
    {% else %}
                <div class="text-center">
                    <!-- Text -->
                    <br> <br> 
                    <p class="lead">No Comments Found</p> 
                </div>
            {% endif %}
        </div>
<!-- End displaying comments -->
<!--Add comment-->
<!--Form to create comments-->
<div class="jumbotron text-center">

    <!-- Title -->
    <h2 class="card-title h2">ADD COMMENT</h2>
<form method="POST" action="{% url 'addcomment' item.id%}">
    {% csrf_token %}
    <div class="form-group"></div>
    <textarea class="form-control" name="comment" rows="4" placeholder="Say something :)"></textarea>
</div>
<p align="justify"><input class="btn btn-primary" type="submit" value="Submit"></p>
</form>
</div>
<!-- End add comments -->

    

    


{% endblock %}