{% extends "auctions/layout.html" %}

{% block body %}
    <!-- Jumbotron -->
    <div class="jumbotron text-center">
        <div class="container text-center">
            <div class="panel panel-primary"">
                <!-- Default panel contents -->
                <div class="panel-heading">MY WATCHLIST</div>
                <div class="panel-body">
                  {% if there %}
                  {% for product in product_list %}
              
                <!-- List group -->
                <ul class="list-group">
                  <li class="list-group-item"><strong>{{product.name}}</strong></li>
                  <li class="list-group-item">{{product.current_bid}}</li>
                  
                </ul>
                {% endfor %}
                </div>
                {% else %}
                <h3>No Items in watchlist</h3>
              </div>
        
    {% endif %}
</div>
</div>
</div>
{% endblock %}